a(class="article-card" href!="articles/<?= $a['slug'] ?>")
	.article-card__img-container
		| <?php
		| $slug = $a["slug"];
		| $image = "images/miniatures/$slug.jpg";
		| $description_image = $a["description_image"];
		| if (file_exists($image)) {
		| 	echo "<img class='article-card__img' alt='$description_image' src='$image' />";
		| } else {
		| 	echo "<img class='article-card__img' alt='« Hope For A New Life », Warren Richardson' src='images/headerBackground.jpg' />";
		| } ?>
	.article-card__content
		h3.article-card__title <?= $a["titre"] ?>
		p.article-card__desc <?= $a["chapo"] ?>
		.article__info
			span.article__author
				i.fas.fa-feather-alt
				| <?= $a["auteur"] ?>
			span.article__date
				i.far.fa-clock
				| <?= date("d/m/Y", strtotime($a["date_time_publication"])); ?>