// dialog
dialog.dialog
	div
		p Voulez-vous vraiment supprimer cet article ?
		.dialog__menu
			a(onclick="modal('close')").btn.btn--accent 
				i.fas.fa-window-close
				span Annuler
			a(href!="").btn.btn--accent#deleteLink 
				i.fas.fa-trash
				span Supprimer