.article__donate
	span
		i(style="color:#f12d2d").fas.fa-2x.fa-heart
	span
		| Safe Migrants Nantes dépend de votre soutien pour financer les accès aux soins et à l'éducation des sans-papiers. 
		a(href="https://www.leetchi.com/c/pour-lacces-des-sans-papiers-a-leducation-wkp9n3q5" target="_blank", rel="noreferrer").highlight--accent.link--accent Faites un don →