// Footer
a#contact
footer
	.social-footer__container
		.newsletter
			h2 Recevez la newsletter
				br
				| de l'association !
			form#newsletterForm
				.form__container
					unless redacteur
						.field__container
							input(type="email", name="email", required)
							label.field__label(for="email")
								span Adresse email
						.newsletter__btn
							input#newsletterButton(type="submit", value="S'ABONNER")
					else
						.field__container
							input(type="email", name="email", disabled)
							label.field__label(for="email")
								span Adresse email
						.newsletter__btn
							input#newsletterButton(type="submit", value="DÉSACTIVÉ", disabled)
		.contact
			h2 Contact
			ul
				li
					a.btn-social--primary(href="mailto:safe-migrants-nantes@laposte.net", target="_blank", rel="noreferrer", aria-label="Email de Safe Migrants Nantes")
						i.fas.fa-envelope.fa-2x
				li
					a.btn-social--primary(href="https://www.facebook.com/pg/CSPN44", target="_blank", rel="noreferrer", aria-label="Facebook de Safe Migrants Nantes")
						i.fab.fa-facebook-square.fa-2x
				li
					a.btn-social--primary(href="https://www.messenger.com/t/CSPN44", target="_blank", rel="noreferrer", aria-label="Messenger de Safe Migrants Nantes")
						i.fab.fa-facebook-messenger.fa-2x
	.mentions-legales
		h2 Mentions légales
		div
			p
				| Un site réalisé avec ❤️ par 
				span.highlight--primary Ekkaia
			p
				| Crédit photo (page d'accueil) : 
				a.link--primary.highlight--primary(href="https://www.warrenrichardson.com", rel="noreferrer") Warren Richardson
			p
				| Consulter les mentions légales : 
				a.link--primary.highlight--primary(href="https://safe-migrants-nantes/mentions-legales") Mentions légales
			if !redacteur && !article
				p
					a.link--primary.highlight--primary(href="redacteur/gestion") Accès rédacteur 
						i.fas.fa-lock
			if article
				p
					a.link--primary.highlight--primary(href="../redacteur/gestion") Accès rédacteur 
						i.fas.fa-lock
