// Navigation
header#header
	div
		a.header__link(href="https://safe-migrants-nantes.org")
			img.header__logo(src="https://safe-migrants-nantes.org/images/logo.svg", alt="Logo de Safe Migrants Nantes")
			p.header__title.highlight--primary SAFE MIGRANTS NANTES
	input#header__checkbox(type="checkbox")
	label#header__checkbox--label(for="header__checkbox")
		i#header__checkbox--menu.fas.fa-bars.fa-2x
	nav
		ul
			li
				a.link--primary(href="https://safe-migrants-nantes.org/qui-sommes-nous") Qui sommes-nous ?
			li
				a.link--primary(href="https://safe-migrants-nantes.org/#nous-soutenir") Nous soutenir
			li
				a.link--primary(href="https://safe-migrants-nantes.org/liste-des-articles") Actualités
			li
				a.link--primary(href="https://safe-migrants-nantes.org#contact") Contact
