doctype html
//
	███████╗ █████╗ ███████╗███████╗    ███╗   ███╗██╗ ██████╗ ██████╗  █████╗ ███╗   ██╗████████╗███████╗
	██╔════╝██╔══██╗██╔════╝██╔════╝    ████╗ ████║██║██╔════╝ ██╔══██╗██╔══██╗████╗  ██║╚══██╔══╝██╔════╝
	███████╗███████║█████╗  █████╗█████╗██╔████╔██║██║██║  ███╗██████╔╝███████║██╔██╗ ██║   ██║   ███████╗
	╚════██║██╔══██║██╔══╝  ██╔══╝╚════╝██║╚██╔╝██║██║██║   ██║██╔══██╗██╔══██║██║╚██╗██║   ██║   ╚════██║
	███████║██║  ██║██║     ███████╗    ██║ ╚═╝ ██║██║╚██████╔╝██║  ██║██║  ██║██║ ╚████║   ██║   ███████║
	╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝    ╚═╝     ╚═╝╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
html(lang="fr", prefix="og: http://ogp.me/ns#")
	head
		block vars
		title !{title} — Safe Migrants Nantes
		link(rel="stylesheet", href!= stylesheet)
		link(rel="icon", type="image/png", href!= favicon)
		meta(charset="UTF-8")
		meta(name="theme-color", content="#f79f24")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		// OGP
		meta(name="description" content!= description)
		meta(property="og:site_name", content="Safe Migrants Nantes")
		| <?php $url = "https://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]" ?>
		meta(property="og:url", content!="<?= $url ?>")
		meta(property="og:title", content!= title)
		meta(property="og:description", content!= description)
		meta(property="og:image", content!= image)
		if imageSize
			meta(property="og:image:width", content!= imageSize.width)
			meta(property="og:image:height", content!= imageSize.height)
		if article
			meta(name="twitter:card" content="summary_large_image")
			meta(name="twitter:title" content!="<?= $url ?>")
			meta(name="twitter:title" content!= title)
			meta(name="twitter:description”" content!= description)
			meta(name="twitter:image”" content!= image)
		meta(property="og:locale", content="fr_FR")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
	body
		block header
		block content
		block footer
		script(src!= script)