| <?php
|	require("php/bdd.php");
|	$last_article = $bdd->query("SELECT titre, slug, date_time_publication FROM articles WHERE date_time_publication IN (SELECT MAX(date_time_publication) FROM articles)");
|	$last_article = $last_article->fetch();
| ?>
a(href!="./articles/<?= $last_article['slug'] ?>").snackbar
	.snackbar__article
		p Dernier article : 
			span.snackbar__date <?= date("d/m/Y", strtotime($last_article["date_time_publication"])); ?>
		h3 <?= $last_article["titre"] ?>
	.snackbar__icon
		i.fas.fa-arrow-right