extends ../includes/layout.pug
block vars
	| <?php include "php/main.php" ?>
	- var title = "<?= $titre ?>"
	- var stylesheet = "../stylesheet/style.css"
	- var favicon = "../images/favicon.png"
	- var description = "<?= $chapo ?>"
	- var image = "https://safe-migrants-nantes.org/images/miniatures/<?= $slug ?>.jpg"
	- var imageSize = { width : 1200 , height : 630}
	- var script = "../js/script.js"
	- var article = true
	meta(property="og:article:published_time", content!="<?= $date_time_publication ?>")
	meta(property="og:article:modified_time", content!="<?= $date_time_edition ?>")
	meta(property="og:type", content="article")
	meta(property="og:article:author", content!="<?= $auteur ?>")
block header
	include ../includes/header.pug
block content
		// Background-header
		| <?php
		| $image = "images/miniatures/" . $slug . ".jpg";
		| if (file_exists($image)) {
		| 	echo "<div class='header__background background--article' style='background-image: url(../$image)'><div class='background__legend'><p>$description_image</p></div></div>";
		| } else {
		| 	echo "<div class='header__background background--pages'></div>";
		| } ?>
		main
			.article__header
				h1.article__title
					span <?= $titre ?>
				p.article__desc <?= $chapo ?>
				ul.article__info
					li.article__author
						i.fas.fa-feather-alt
						| <?= $auteur ?>
					li.article__date
						i.far.fa-clock
						| <?= date("d/m/Y", strtotime($date_time_publication)); ?>
					li.article__tag
						i.fas.fa-tag
						| <?= $tag ?>
			article
				| <?= $contenu ?>
			include ../includes/donate.pug
		include ../includes/footer.pug