extends ../includes/layout.pug
block vars	
	| <?php include "../php/main.php" ?>
	- var title = "Rédaction"
	- var stylesheet = "../stylesheet/style.css"
	- var favicon = "../images/favicon.png"
	- var description = "Page de rédaction des articles de Safe Migrants Nantes."
	- var image = "https://safe-migrants-nantes.org/images/logo.jpg"
	- var script = "../js/script.js"
	- var redacteur = true
	meta(property="og:type", content="website")
block header
	include ../includes/header.pug
block content
	// Background-header
	.header__background.background--pages
	section.gestion
		.alert
			| <?php 
			| 	if (isset($_GET["success"]) AND !empty($_GET["success"])) {
			| 		$success = $_GET["success"];
			| 		echo displaySuccessMessage($success);
			| 	} else if (isset($_GET["error"]) AND !empty($_GET["error"])) {
			|		$error = $_GET["error"];
			| 		echo displayErrorMessage($error);	
			|	}
			| ?>
		h2.title
			span LISTE DES ARTICLES EN LIGNE
		ul.gestion__list
			| <?php
			|	$articles = $bdd->query("SELECT * FROM articles ORDER BY date_time_publication DESC");
			| 	while ($a = $articles->fetch()) {
			| ?>
			li.list__article
				div
					a.link-article--primary(href!="../articles/<?= $a['slug'] ?>") <?= $a["titre"] ?> 
					span.list__article-info
						| <?= $a["auteur"] ?> — <?= date("d/m/Y", strtotime($a["date_time_publication"])); ?>
						| <?php if ($a["date_time_edition"] != NULL) { ?>
						| 	(modifié le : <?= date("d/m/Y", strtotime($a["date_time_edition"])); ?> à <?= date("G:i", strtotime($a["date_time_edition"])); ?>)
						| <?php } ?>
				.list__btn
					a(href!="redaction.php?slug=<?= $a['slug'] ?>").btn.btn--accent 
						i.fas.fa-edit
						span ÉDITER
					a(onclick!="modal('<?= $a['slug'] ?>')").btn.btn--accent 
						i.fas.fa-trash
						span SUPPRIMER
			| <?php } ?>
		div
			a.btn.btn--primary(href="./redaction") CRÉER UN NOUVEL ARTICLE
		h2.title
			span LISTE DES ABONNÉS À LA NEWSLETTER
		ul.gestion__list
			| <?php
			| 	$newsletter = $bdd->query("SELECT * FROM newsletter ORDER BY date_time_subscribe DESC");
			| 	while ($n = $newsletter->fetch()) {
			| ?>
			li.list__newsletter
				a(href!="../php/main.php?email=<?= $n['email'] ?>").link-article--primary
					i.fas.fa-times
				span <?= $n["email"] ?>
			| <?php } ?>
		include ../includes/dialog.pug
block footer
	include ../includes/footer.pug