extends ../includes/layout.pug
block vars
	- var title = "Personne n'est illégal"
	- var stylesheet = "stylesheet/style.css"
	- var favicon = "./images/favicon.png"
	- var description = "Safe Migrants Nantes est une association nantaise qui vient en aide aux sans-papiers. Nous croyons fermement que personne n'est illégal, c'est pourquoi nous agissons pour que tout le monde ait accès aux soins et à l'éducation."
	- var image = "https://safe-migrants-nantes.org/images/logo.jpg"
	- var script = "js/script.js"
	meta(property="og:type", content="website")
block header
	include ../includes/header.pug
block content
	// Header background
	.header__background.background--index
		.title__container
			h1.background__title
				span PERSONNE N'EST
			h1.background__title.background__title--sub
				span ILLÉGAL
	//Snackbar
	include ../includes/snackbar.pug
	// Qui sommes nous ?
	a#qui-sommes-nous
	section
		h2.title.title--line
			span QUI SOMMES-NOUS ?
		.presentation__container
			.presentation__content
				p
					| Safe Migrants Nantes est une association loi 1901
					| née à la rentrée 2018 dans la continuité du Collectif des sans-papiers de Nantes.
					| Cette association à but non lucratif vise à promouvoir une intuition fondamentale :
					| dans ce monde aucun être humain n’est illégal.
				p
					| Notre travail est réparti en commissions, où chacun est appelé à s’investir à la hauteur de ses compétences et
					| de ses envies.	
			.logo__container
				img.logo__img(src="images/logo.jpg", alt="Logo de Safe-Migrants-Nantes")
		.commission__container
			.commission__left
				h3
					a.highlight--accent.link--accent(href="qui-sommes-nous#sante") Santé
				p
					| Une commission santé, qui organise des permanences santé assurées par des professionnels de santé :
					| médecins, psychiatres, infirmières, ostéopathes.
			.commission__central
				h3
					a.highlight--accent.link--accent(href="qui-sommes-nous#education") Éducation
				p
					| Une commission éducation, dont la mission est d’accompagner administrativement et pédagogiquement les sans-papiers
					| dans leur inscription à l’université et dans les lycées à la hauteur de nos forces et de nos moyens.
			.commission__right
				h3
					a.highlight--accent.link--accent(href="qui-sommes-nous#communication") Communication
				p
					| Une commission communication, afin de rendre audibles et visibles les migrants, leur parcours,
					| les obstacles rencontrés en France, et d’assurer l’apparition publique de l’association.
		.btn__container
			a.btn.btn--accent(href="qui-sommes-nous") DÉCOUVRIR L'ASSOCIATION
	// Nous soutenir
	a#nous-soutenir
	section#nous-soutenir-container
		h2.title.title--line
			span NOUS SOUTENIR
		.support__container
			p
				| Les frais d'inscription dans un lycée peuvent s'élever 
				span.highlight--dark jusqu'à 3 000€
				| . Cette contrainte financière nous empêchant d’avancer dans les démarches d'inscription des jeunes
				| 	sans-papiers, nous faisons appel à vous et à votre 
				span.highlight--dark générosité
				| . L’accès à l‘éducation est un 
				span.highlight--dark droit fondamental
				| , soyons solidaires pour permettre l’intégration de ces nouveaux nantais.
			.btn__container
				a.btn.btn--dark(href="https://www.leetchi.com/c/pour-lacces-des-sans-papiers-a-leducation-wkp9n3q5", target="_blank", rel="noreferrer")
					| FAIRE UN DON
	// Articles
	a#actualites
	section
		h2.title.title--line
			span ACTUALITÉS
		.article-card__container
			| <?php
			|	require("php/bdd.php");
			|	$articles = $bdd->query("SELECT * FROM articles ORDER BY date_time_publication DESC LIMIT 3");
			| 	while ($a = $articles->fetch()) {
			| ?>
			include ../includes/article-card.pug
			| <?php } ?>
		.btn__container
			a.btn.btn--accent(href="liste-des-articles") VOIR TOUTES LES ACTUALITÉS
block footer
	include ../includes/footer.pug