extends ../includes/layout.pug
block vars
	- var title = "Liste des articles"
	- var stylesheet = "stylesheet/style.css"
	- var favicon = "./images/favicon.png"
	- var description = "Liste des articles de Safe Migrants Nantes."
	- var image = "https://safe-migrants-nantes.org/images/logo.jpg"
	- var script = "js/script.js"
	meta(property="og:type", content="website")
block header
	include ../includes/header.pug
block content
	// Background-header
	.header__background.background--pages
	section
		h2.title
			span ACTUALITÉS
		.article-card__container
			| <?php
			|	require("php/bdd.php");
			|	$articles = $bdd->query("SELECT * FROM articles ORDER BY date_time_publication DESC");
			| 	while ($a = $articles->fetch()) {
			| ?>	
			include ../includes/article-card.pug
			| <?php } ?>
		include ../includes/donate.pug
block footer
	include ../includes/footer.pug