extends ../includes/layout.pug
block vars
	- var title = "Mentions légales"
	- var stylesheet = "stylesheet/style.css"
	- var favicon = "./images/favicon.png"
	- var description = "Mentions légales de l'association SAFE Migrants Nantes."
	- var image = "https://safe-migrants-nantes.org/images/logo.jpg"
	- var script = "js/script.js"
	meta(property="og:type", content="website")
block header
	include ../includes/header.pug
block content
	// Background-header
	.header__background.background--pages
	main.mentions-legales
		h2.title.title--line
			span ÉDITION DU SITE
		p 
			| Ce site est édité par 
			span.highlight--dark SAFE Migrants Nantes 
			| (association loi 1901).
		ul
			li 
				p
					span.highlight--dark Adresse :
			li
				
				p
					span.highlight--dark Contact mail : 
					a.link--accent.highlight--accent(href="mailto:safe-migrants-nantes@laposte.net", target="_blank", rel="noreferrer") safe-migrants-nantes@laposte.net
			li 
				p
					span.highlight--dark Représenté par :
		h2.title.title--line
			span HÉBERGEMENT DU SITE
		p
			| Ce site est hebergé par 
			a.link--accent.highlight--accent(href="https://www.ikoula.com/fr", target="_blank", rel="noreferrer") Ikoula
			| .
		ul
			li 
				p
					span.highlight--dark Siège social : 
					| 175/177 rue d'Aguesseau, 92100 Boulogne Billancourt, FRANCE
			li
				p
					span.highlight--dark Contact : 
					a.link--accent.highlight--accent(href="mailto:support@ikoula.com", target="_blank", rel="noreferrer") support@ikoula.com
		h2.title.title--line
			span RÉALISATION DU SITE
		p
			| Ce site à été conçu et réalisé par 
			span.highlight--dark Ekkaia
			| .
		h2.title.title--line
			span UTILISATION DU SITE
		h3.title--list
			span Accès au site
		p
			| Ce site est accessible gratuitement à tout utilisateur ayant accès à internet.
		p
			| Tous les frais inhérents à l'accès au site internet sont à la charge de l'utilisateur 
			| (la connexion internet, le matériel, les logiciels, ect) qui est le seul responsable du 
			| bon fonctionnement de son équipement informatique et de l'accès à une connexion internet.
		p
			| L'association 
			span.highlight--dark SAFE Migrants Nantes 
			| ne peut être tenue pour responsable de tout dysfonctionnement 
			| liés à l'accès à son site internet. Des problèmes liés aux serveurs ou au réseau dégradant ou empêchant cet 
			| accès ne sauraient engager sa responsabilité.
		p
			| L'association étant seule gérante de ce site internet, elle se réserve le droit d'interrompre son accès 
			| pour cause de maintenance ou toute autre raison. Aucunes obligations ni indemnisations ne 
			| peuvent découler de cette interruption momentanée, et sans préavis.
		h3.title--list
			span Propriété intellectuelle
		p
			| Le contenu du site internet de 
			span.highlight--dark SAFE Migrants Nantes 
			| est protégé par le droit en vigueur régissant la propriété intellectuelle.
		p
			| Le contenu produit ou reproduit sur le site internet est l'objet d'un droit d'auteur. Toute reproduction ou diffusion 
			| sans autorisations préalables expresses écrite de 
			span.highlight--dark SAFE Migrants Nantes 
			| constitue une infraction passible de sanctions pénales.
		h3.title--list
			span Données personnelles
		p
			| Au visa du droit au respect de la vie privée de ses utilisateurs, lesquels peuvent être amené à communiquer des données 
			| personnelles au sein du présent site, 
			span.highlight--dark SAFE Migrants Nantes 
			| s'engage à ce que la collecte et le traitement de ces données soient réalisés conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés modifiée par la loi 2004-801 du 6 aout 2004. 
		p
			| La loi énoncée garantit à l'utilisateur un droit d'opposition, d'accès et de rectification sur les données nominatives le concernant. 
		p
			| Ce droit sera exercé aussitôt que la demande en sera faite auprès de 
			span.highlight--dark SAFE Migrants Nantes 
			| à l'adresse suivante : 
			a.link--accent.highlight--accent(href="mailto:safe-migrants-nantes@laposte.net", target="_blank", rel="noreferrer") safe-migrants-nantes@laposte.net
		h3.title--list
			span Limite de responsabilité
		p
			| L'ensemble des informations présentes sur le site de 
			span.highlight--dark SAFE Migrants Nantes 
			| proviennent de sources réputées fiables. Cependant 
			span.highlight--dark SAFE Migrants Nantes 
			| ne peut garantir l'exactitude et la pertinence de ces données, et ce de façon permanente.
		p
			| Ces données sont présentes sur le site internet à titre informatif et ne constituent en aucuns cas un conseil ou une recommandation de quelque nature que ce soit à l'égard de l'utilisateur. Par conséquent, l'utilisation de ces données ne sauraient en aucun cas engager la responsabilité de 
			span.highlight--dark SAFE Migrants Nantes 
			| à quelque titre que ce soit. L'utilisateur avec discernement, esprit et raison fait usage de ces données mises à sa disposition sur le site internet.
		p
			| L'utilisateur s'engage à respecter l'ensemble des textes de loi en vigueur en France.
		h3.title--list
			span Liens hypertexte
		p
			| Les données et le contenu des liens hypertextes présents sur le site internet de 
			span.highlight--dark SAFE Migrants Nantes 
			| ne sauraient en aucuns cas engager sa responsabilité à quelque titre que ce soit.
		h2.title.title--line
			span DURÉE
		p
			| Le présent contrat est conclu pour une durée indéterminée à compter de l’utilisation du site internet de 
			span.highlight--dark SAFE Migrants 
			| Nantes par l'utilisateur.
		include ../includes/donate.pug	
block footer
	include ../includes/footer.pug