extends ../includes/layout.pug
block vars
	- var title = "Qui sommes-nous ?"
	- var stylesheet = "stylesheet/style.css"
	- var favicon = "./images/favicon.png"
	- var description = "Découvrez l'histoire et toutes les informations sur l'association Safe Migrants Nantes depuis sa création."
	- var image = "https://safe-migrants-nantes.org/images/logo.jpg"
	- var script = "js/script.js"
	meta(property="og:type", content="website")
block header
	include ../includes/header.pug
block content
	// Background-header
	.header__background.background--pages
	main
		h2.title.title--line
			span PRESENTATION
		p 
			| Safe Migrants Nantes est une association née à la rentrée 2018 à but non lucratif, dont les propos, les actions,
			| les interventions visent à promouvoir une intuition fondamentale : dans ce monde aucun être humain n’est illégal. À ce titre,
			| la place des migrants en ce début de XXIème siècle nous questionne tout autant sur le monde que sur notre propre société.
		h2.title.title--line
			span NOS OBJECTIFS
		p
			| L’équipe de départ, composée de migrants, d’étudiants et de médecins, s’est constituée lors de l’occupation du campus par
			| des migrants et leurs soutiens. Dans l’urgence, une série d’actions a été entreprise, en relation avec d’autres collectifs.
			| Le bilan d’un an d’expériences exige de pérenniser cette perspective, en complément avec le tissu associatif actif sur ces
			| thématiques.
		p
			| Notre action se propose de donner les outils nécessaires aux migrants afin qu’ils puissent devenir maîtres de leur
			| destin. Cette responsabilisation active n’est possible qu’à condition de construire un socle solide qui repose sur
			| trois bases : la santé, l’éducation, et la garantie des droits. Ce sont des critères essentiels à nos yeux qui peuvent
			| permettre aux migrants d’envisager un avenir inséré dans la société, et un séjour durable.
		h2.title.title--line
			span COMMISSIONS
		a#education
		h3.title--list
			span Éducation & formation
		p
			| Essentiellement issus du campus, nous avons impulsé un travail d’inscriptions de migrants à l’université de Nantes, dans
			| quelques lycées généraux et professionnels. Un groupe d’enseignants se constitue en commission éducation pour assurer – en
			| collaboration avec d’autres – un travail essentiel d’apprentissage du français et de remise à niveau.
		a#sante
		h3.title--list
			span Santé
		p
			| Avec plus d’une quinzaine de professionnels de santé (généralistes, dentistes, psychiatres, infirmières, kinésithérapeutes,
			| ostéopathes, etc.) notre commission santé a assuré et continue d’assurer des permanences santé sur le campus, dans les lieux
			| occupés, et dernièrement aux Bains Douches dans une salle municipale.
		p
			| En un an, ce sont, ce sont plusieurs centaines de patients qui ont pu être traités hors du circuit sanitaire désormais
			| saturé –enfants, adolescents et adultes, de la Guinée au Soudan, de la Tunisie à l’Irak. La possibilité pour des étudiants
			| en santé de valider des stages (avec des professionnels qui assureront les actes médicaux) permettra de consolider notre
			| expérience de médecine d’urgence.	
		a#communication
		h3.title--list
			span Communication
		p
			| Une exposition sur le campus à la bibliothèque universitaire a	rendu visible la parole des migrants ; une réunion
			| publique en association avec tout l’arc syndical a présenté au public nantais leurs parcours, leurs souffrances et leurs
			| espoirs. La commission communication se donne pour but de continuer dans cette perspective afin de donner toujours plus la
			| parole aux migrants.
		h3.title--list
			span Droits
		p
			| L’association se donne pour objectif également d’accompagner les migrants juridiquement. La préparation de leurs
			| dossiers en amont permettrait à des experts juridiques d’autres structures de n’avoir qu’à les finaliser. Cette
			| commission n’existe pas encore, c’est donc à un terrain en chantier que chacun est appelé à s’atteler, et en particulier
			| des étudiants en droit, dont la pratique juridique nous serait d’un grand secours.
		h2.title.title--line
			span UNE FAÇON DE TRAVAILLER INCLUSIVE
		p
			| Le propos de Safe migrants Nantes n’est pas de se substituer aux initiatives existantes, mais de coordonner des énergies
			| en vue de réaliser les principes fondateurs de l’association. C’est pourquoi nous collaborons de façon fructueuse avec des
			| syndicats de travailleurs, des associations, des collectifs, mais aussi des associations africaines chrétiennes et
			| musulmanes.
		h2.title.title--line
			span EXTRAIT DU PRÉAMBULE DE L'ASSOCIATION
		blockquote
			p
				| Notre action est venue compléter l’activité associative et militante auprès des migrants de la métropole nantaise, qui
				| sont en nombre croissant et sont confrontés à l’insuffisance de moyens face à la demande. […] C’est pourquoi il nous est
				| apparu nécessaire de formaliser nos actions à travers une association, afin de structurer et rendre plus efficaces nos
				| interventions auprès des migrants de la métropole nantaise.
			p
				| Cette décision, prise à la suite de plusieurs contacts et rencontres avec des représentants de l’État et de Nantes
				| Métropole, a également pour but d’obtenir une reconnaissance de la part des autorités et des partenaires institutionnels,
				| et de pouvoir bénéficier des aides et des subventions nécessaires pour mener à bien nos activités.
			cite —Extrait du préambule de l'association	
		include ../includes/donate.pug	
block footer
	include ../includes/footer.pug