extends ../includes/layout.pug
block vars
	| <?php include "../php/main.php" ?>
	- var title = "Rédaction"
	- var stylesheet = "../stylesheet/style.css"
	- var favicon = "../images/favicon.png"
	- var description = "Page de rédaction des articles de Safe Migrants Nantes."
	- var image = "https://safe-migrants-nantes.org/images/logo.jpg"
	- var script = "../js/script.js"
	- var redacteur = true
	meta(property="og:type", content="website")
block header
	include ../includes/header.pug
block content
	// Background-header
	.header__background.background--pages
	section.redaction
		.alert
		| <?php 
		| 	if (isset($_GET["slug"])) {
		| 		$edit = true;	
		|	} else {
		| 		$edit = false;	
		| 	}
		| ?>
		form.form__container#redactionForm
			.field__container
				input(type="text", name="titre", value!="<?php if ($edit) { echo $titre; } ?>", required)
				label.field__label(for="titre")
					span Titre
			.field__container
				textarea(name="chapo", rows="5", required) <?php if ($edit) { echo $chapo; } ?>
				label.field__label(for="chapo")
					span Chapo
			.field__container
				input(type="text", name="auteur", value!="<?php if ($edit) { echo $auteur; } ?>", required)
				label.field__label(for="auteur")
					span Auteur
			| <?php if (!$edit) { ?>
			.tag-picker
				label(for="tag") Choisissez une catégorie :
				select(name="tag")
					option(value="Article") Article
					option(value="Chronique") Chronique
					option(value="Évènement") Événement
					option(value="Vie de l'association") Vie de l'association
			| <?php } ?>
			.btn-textarea__container
				button(type="button", onclick="pushTextarea(`<p></p>`)") 
					i.fas.fa-paragraph
					span Paragraphe
				button(type="button", onclick="pushTextarea(`<h3 class='title--list'><span></span></h3>`)")
					i.fas.fa-heading 
					span Rubrique
				button(type="button", onclick="pushTextarea(`<blockquote><p></p></blockquote>`)")
					i.fas.fa-quote-right
					span Citation
				button(type="button", onclick="pushTextarea(`<a href='[Adresse du lien]' class='link-article--accent'></a>`)")
					i.fas.fa-link
					span Lien
				button(type="button", onclick="pushTextarea(`<i></i>`)")
					i.fas.fa-italic
					span Italique
			.field__container
				textarea(id="textarea", name="contenu", rows="10", required) <?php if ($edit) { echo $contenu; } ?>
				label.field__label(for="contenu")
					span Contenu
			| <?php if (!$edit) { ?>
			.img__uploader
				p Votre image doit être au format .jpg. Préférez les images n'excedant pas 500 ko.
				label(for="file", id="label")
					i.fas.fa-upload
					span Ajouter une image
				input(type="file", id="file", name="miniature", onclick="fileInfo()")
				.field__container#descImage
					input(type="text", name="desc_image")
					label.field__label(for="desc_image")
						span Légende
			| <?php } ?>
			.redaction__submit
				input#redactionButton(type="submit", value="PUBLIER L'ARTICLE")
block footer
	include ../includes/footer.pug