// Articles

main {
	margin: 0 auto;
	width: 90%;
	max-width: 750px;
}

article {
	p {
		margin-top: $md;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

// Mentions légales

.mentions-legales {
	p + p {
		margin-top: $md;
	}

	ul {
		margin-top: $md;
	}
}

// Header

.article__header {
	margin: $xl 0 $lg 0;
	border-bottom: solid 1px $grey-space;

	.article__info {
		margin: $space-stack-md;
		flex-wrap: wrap-reverse;
	}
}

.article__title {
	margin: $space-stack-md;

	> span {
		font-size: $text-xl;
		letter-spacing: 0.5px;
	}
}

.article__desc {
	font-size: $text-md;
	font-weight: 600;
	color: $grey-text;
	margin: $space-stack-sm;
	letter-spacing: -0.5px;
}

// Citation

blockquote {
	color: $grey-text;
	padding: 0 $sm;
	border-left: 4px solid $accent;
	margin-top: $md;

	cite {
		display: block;
		margin-top: $sm;
	}

	> p {
		margin-top: $md;
	}
}

// Donate popup

.article__donate {
	display: flex;
	background-color: $grey-space;
	padding: $lg $md;
	margin:  $xl 0 $xxl 0;
	border-top: 2px solid $dark;
}

.article__donate span:first-child {
	margin: auto $md auto 0;
}

// Media Queries 

@media screen and (max-width: $mobile) {
    .article__title > span {
        font-size: $text-lg;
	}
}