// Theme redaction & gestion

.gestion, .redaction {
	background-color: $dark;
	color: $light;

	ul:first-of-type {
		margin: $space-stack-lg;
	}

	ul + div {
		display: flex;
		justify-content: space-evenly;
	}
}

// Gestion

.gestion__list {
	border: 2px solid $primary;
	overflow-y: scroll;
	max-height: 400px;
	padding: $xs $md;
}

.list__newsletter {
	margin: $space-stack-sm;
	display: flex;

	> a {
		margin: $space-inline-md;
	}
}

.list__article {
	padding: $md 0;
	border-bottom: solid 1px $primary;
	display: flex;
	justify-content: space-between;
	align-items: center;

	div:first-of-type {
		max-width: 60%;
	}

	&:last-of-type {
		border-bottom: none;
	}
}

.list__btn {
	display: inline-flex;

	.btn {
		font-size: $text-xs;

		&:first-of-type {
			margin: $space-inline-sm;
		}
	}
}

.list__article-info {
	font-size: $text-xs;
	padding-left: $sm;
	font-weight: 300;
}

@media screen and (max-width: $desktop) {
	.list__article {
		flex-direction: column;

		div:first-of-type {
			max-width: 100%;
			margin: $space-stack-sm;
		}
	}

	.list__btn {
		display: inline-flex;
		justify-content: center;	
	}
}