// Presentation

.presentation__container {
	display: flex;
	margin: $space-stack-lg;
	flex-direction: row-reverse;
}

.presentation__content {
	> p {
		margin: $space-stack-md;
	}
	
	> p:last-child {
		margin: 0;
	}
}

// Logo

.logo__container {
	margin: 0 $xl;
}

.logo__img {
    border: 1px solid $grey-space;
	border-radius: 50%;
	padding: 2%;
    width: 140px;
}

// Commissions

.commission__container {
	display: flex;
	flex-direction: row;
	text-align: center;
	a {
		font-size: $text-md;
	}
}

.commission__central, .commission__left, .commission__right {
	padding: $sm $lg;
	flex: 1 1 0;
	h3 {
		margin: $space-stack-sm;
	}
}

.commission__left, .commission__central {
	border-right: solid 1px $grey-space;
}

// Nous soutenir

#nous-soutenir-container {
	background-color: $primary;
}

.social__container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $xl 0 $lg 0;

	li {
		padding: $space-inline-sm;
	}
}

.social__text {
	letter-spacing: 1.5px;
	font-weight: 600;
}

.support__container > p {
	font-size: $text-md;
	text-align: center;
	font-weight: 300;
}

// Media Queries

@media screen and (max-width: $fullhd) {
	section, footer {
		padding: 0 20%;
	}
}

@media screen and (max-width: $desktop) {
	.commission__container {
		flex-direction: column;
	}

	.commission__left, .commission__central {
		border-right: 0;
		border-bottom: solid 1px $grey-space;
	}

	.presentation__container {
		flex-direction: column-reverse;
	}

	.logo__container {
		margin: 0 auto $lg auto;
	}
}

@media screen and (max-width: $mobile) {
	.commission__container {
		text-align: initial;
	}

	section, footer {
		padding: 0 4%;
	}
}