.btn-textarea__container {
	display: flex;
	justify-content: center;
	padding: $space-stack-sm;

	button {
		margin: $space-inline-md;
	}
}

.tag-picker {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	label {
		padding: $space-inline-xs;
	}
}

#descImage {
	display: none;
}

@media screen and (max-width: $mobile) {
	.btn-textarea__container {
        overflow-x: scroll;
        justify-content: flex-start;
	}

	.redaction .form__container {
		padding: 0;
	}

	.tag-picker {
		flex-direction: column;
		align-items: inherit;

		label {
			margin: $space-stack-xs;
		}
	}
}