// Footer
footer {
	background-color: $dark;
	color: $light;

	.mentions-legales {
		padding: $space-stack-xl;
		text-align: center;
	
		h2 {
			margin: $space-stack-md;
		}
	
		p + p {
			margin-top: $xs;
		}
	}
}

.social-footer__container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	padding: $xxl 0 $xl 0;
}

// Contact
.contact {
	ul	{
		display: flex;
	}
	
	li {
		margin: $space-inline-md;
	}
}

.newsletter, .contact {
	h2 {
		margin: $space-stack-md;
	}
}

// Medias Quieries

@media screen and (max-width: $desktop) {
	footer {
		padding: $xl 0;
	}

	.mentions-legales {
		padding-bottom: $xl;
	}

	.newsletter {
		padding: $xl 0;
	
		input[type=submit] {
			margin: 0;
		}
	}

	.contact {
		padding-bottom: $xl;
	}

	.social-footer__container {
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 0;
	}
}