#header {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	transition: all .3s ease-in-out;
	padding: $sm $lg;
	align-items: center;
	line-height: 1;

	&.header--fixed {
		background-color: $dark;
		transition: background-color .3s ease-in-out;
		box-shadow: $shadow;
	}
}

// Background

.header__background {
	display: flex;
	box-shadow: inset 0 5rem $xl (-$lg) $grey-text, 
				inset 0 -5rem $xl (-$lg) $grey-text;

	.title__container {
		margin: 35vh auto;
	}
}

.background__legend {
	position: absolute;
	left: 50%;
    transform: translate(-50%, 0);
	bottom: 2vh;
	> p {
		color: $light;
		font-size: $text-xs;
		letter-spacing: -0.5px;
	}
}

.background--article {
	height: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.background--pages {
	height: 30%;
}

.background--index {
	height: 100%;
}

// Titre

.header__link {
	display: inline-flex;
	align-items: center;
}

.header__title {
	padding-left: $xs;
	font-size: $text-sm;
	line-height: 1;
}

.header__logo {
	width: 28px;
	height: 28px;
}

#header__checkbox--menu {
    font-size: $md;
}

// Navigation

nav ul {
	transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

nav li {
	list-style: none;
	font-size: $text-sm;
	font-weight: 800;
	margin: $space-inline-lg;
	&:last-of-type {
		margin: 0;
	}
}

input[type=checkbox] {
	display: none;
}

// Media Quieries

@media screen and (min-width: $tablet) {
	.background--pages, .background--index {
		background: url("../images/headerBackground.jpg") center no-repeat;
		background-size: cover;
	}

	#header__checkbox--label, #header__checkbox--menu {
	  	display: none;
	  	visibility: hidden;
	}

	#header {
		display: flex;
		justify-content: space-between;
	}

	nav ul {
		display: flex;
	}
}

@media screen and (max-width: $mobile) {
	.background--pages, .background--index {
		background: url("../images/headerBackground_768px.jpg") center no-repeat;
		background-size: cover;
	}

	#header {
		padding: $sm $md;
	}

	nav {
		visibility: visible;
		margin: 0;
		transform: translateX(-100%);
	}
	
	#header.header--deploy {
		background-color: $dark;
		> div {
			margin: $space-stack-md;
		}
	}
	
	nav ul {
		display: none;
		visibility: hidden;
	}

	input[id^=header__checkbox]:checked ~ nav {
		height: 100%;
		transform: translateX(0);
		transition: transform 0.3s ease-in-out;
			ul {
			display: flex;
			flex-direction: column;
			visibility: visible;
			transition: visible .3s ease-in-out;
			padding: $space-stack-md;
		}
	}

	#header__checkbox--label {
		color: $primary;
		position: absolute;
		cursor: pointer;
		right: 0;
		top: 0;
		margin-right: 1.5rem;
		margin-top: 1.2rem;

		&:active {
			transform: scale(0.8);
			transition: transform .3s ease-in-out;
		}

		&:hover {
		color: $primary-light;
		}
	}

	nav li {
		position: relative;
		text-align: center;
		letter-spacing: 0.2px;
		margin: $space-stack-lg;
	}
}