// Article Card
.article-card__container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 0 10%;
}

.article-card {
	display: flex;
	flex-direction: row;
	color: $dark;
	width: 100%;
	padding: $space-stack-lg;
	margin: $space-stack-lg;
	border-bottom: solid 1px $grey-space;

	&:hover {
		.article-card__title,
		.article-card__desc {
			color: $accent;
		}

		.article-card__img {
			transform: scale(1.2);
		}
	}
}

.article-card__title {
	font-family: $font-text;
	margin: $space-stack-sm;
}

.article-card__desc {
	margin: $space-stack-sm;
}

.article-card__content {
	margin-left: 4%;
	width: 65%;
}

.article-card__desc,
.article__info {
	color: $grey-text;
}

.article__info {
	font-size: $text-xs;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	align-items: center;
	display: flex;

	i {
		padding: $space-inline-xxs;
	}

	.article__author,
	.article__date,
	.article__tag {
		padding: $space-inline-sm;
	}
}

.article-card__img-container {
	max-width: 35%;
	height: 200px;
	margin: auto;
	overflow: hidden;
}

.article-card__img {
	max-width: 100%;
	transition: all 0.3s ease-in-out;
}

// Media Quieries

@media (max-width: $mobile) {
	.article-card {
		flex-direction: column;
		width: 100%;
	}

	.article-card__content {
		width: 100%;
		margin-left: 0;
	}

	.article-card__container {
		margin: 0;
	}

	.article-card__img-container {
		max-width: 100%;
		max-height: 200px;
		margin: $space-stack-sm;
		display: flex;
	}

	.article-card__img {
		margin: auto;
	}
}