// Container
.btn__container {
	display: flex;
  	justify-content: space-evenly;
  	padding: $lg 0 $xl 0;
}

// Pattern
@mixin btn {
	z-index: 1;
	position: relative;
	padding: $xxs $sm;
	outline: none;
	white-space: nowrap;
	align-items: center;
	display: flex;
	font-weight: 800;
	letter-spacing: 1.5px;
	background-color: transparent;
	cursor: pointer;
}

.btn,
button {
	@include btn();

	&::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transform-origin: center right;
		transform: scaleX(0);
		transition: transform 0.3s ease-in-out;
	}

	&:hover::before {
		transform-origin: center left;
		transform: scaleX(1);
	}
	// Icon
	> i:before {
		padding: $space-inline-sm;
	}
}

// Mixin
@mixin btn-color($color, $color-hover, $color-light) {
  	color: $color;
	border: 1.5px solid $color;
	
  	&::before {
		background-color: $color;
	}
	&:hover {
		color: $color-hover;
		transition: color 0.3s ease-in-out;
	}
	&:focus {
		box-shadow: 0 0 0 3px $color-light;
	}
}

// Dark
.btn--dark {
  	@include btn-color($dark, $primary, $grey-space);
}

// Accent
.btn--accent {
  	@include btn-color($accent, $light, $accent-light);
}

// Primary
button, .btn--primary {
	@include btn-color($primary, $dark, $primary-light);
}

// Button social
.btn-social--primary {
	color: $light;

	&:hover {
    	color: $primary;
    	transition: all 0.3s ease-in-out;
  	}
}

.btn-social--accent {
	color: $dark;

	&:hover {
    	color: $accent;
    	transition: all 0.3s ease-in-out;
  	}
}