dialog,
.dialog {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: $grey-text;
	
	> div {
		margin: 40vh auto;
		max-width: max-content;
		padding: $sm $lg;
		color: $light;
		background-color: $dark;
		border: 2px solid $primary;
		text-align: center;
		box-shadow: $shadow;

		p {
			font-size: $text-md;
			margin: $space-stack-md;
		}
	}

	&__menu {
		display: flex;
		justify-content: space-evenly;
	}
}