input[type=email],
input[type=text],
textarea {
	display: inline-flex;
	position: relative;
	background-color: transparent;
	border: solid 1.5px $primary;
	padding: $xxs $sm;
	color: $light;
	caret-color: $primary;
	z-index: 10;
	outline: none;
	width: 100%;
	line-height: 1.5;

	&:hover {
		background-color: $primary-lighter;
	}

	&:disabled {
		cursor: not-allowed;
		border-color: $primary-light;
		background-color: transparent;

		+ label > span {
			color: $primary-light;
		}
	}

	&:focus {
		box-shadow: 0 0 0 3px $primary-light;
		background-color: transparent;
	}

	&:focus, &:valid {
		+ label {
			transform: translateY(-120%);
			font-size: $text-xs;
			background-color: $dark;
			padding: 0 $xxs;
			z-index: 20;
			transition: 0.15s all ease-in-out;
		}
	}
}

.field__container {
	display: flex;
	position: relative;
}

.field__label {
	display: inline-block;
	position: absolute;
	top: $xs;
	left: $sm;
	font-weight: 600;
	transition: 0.15s all ease-in-out;

	> span {
		color: $primary;
	}
}

// Input Submit
input[type=submit] {
	@include btn();
	
	border: 1.5px solid $primary;
	color: $primary;
	transition: color, background-color 0.5s linear;
	&:hover {
		background-color: $primary;
		color: $dark;
		transition: color, background-color 0.5s linear;
	}
	&:focus {
		box-shadow: 0 0 0 3px $primary-light;
	}
	&:disabled {
		border-color: $primary-light;
		background-color: $primary-light;
		color: $dark;
		cursor: not-allowed;
	}
}

// Select

select {
	@include btn();

	border: 1.5px solid $primary;
	color: $primary;
	&:focus {
		box-shadow: 0 0 0 3px $primary-light;
	}
}

option {
	background-color: $dark;
	color: $primary;
}

// Input File

input[type=file] {
	display: none;
}

.img__uploader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	> p {
		margin: $space-stack-sm;
	}
}

label[for=file] {
	font-weight: 600;
	margin: $space-stack-lg;
	
	> i:before {
		padding: $space-inline-sm;
	}

	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

#redactionForm {
	margin-top: $sm;
}

.form__container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0 $md;
	
	.newsletter__btn {
		margin: auto;
	}
	
	input, textarea, .tag-picker {
		margin: $space-stack-sm;
	}

	> input[type=text], textarea {
		font-size: $text-sm;
	}

	.redaction__submit {
		display: flex;
		justify-content: center;
	}
}

// Alert

@mixin alert($background, $color) {
	background-color: $background;
	padding: $xxs $sm;
	margin: auto;

	p {
		color: $color;
	}
}

.alert {
	padding-top: $lg;
}

.alert--error {
	@include alert($accent, $dark);
}

.alert--success {
	@include alert($sucess, $dark)
}