// Pattern
@mixin link($color, $color-light) {
	position: relative;
	color: $light;
	white-space: nowrap;
	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		height: 2px;
		background-color: $color-light;
		transform: scaleX(1);
	}
	&::before {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		height: 2px;
		background-color: $color;
		transform-origin: bottom right;
		transform: scaleX(0);
		transition: transform 0.5s ease;
	}
	&:hover::before {
		transform-origin: bottom left;
		transform: scaleX(1);
	}
}

// Primary
.link--primary {
	@include link($primary, $primary-light);
}

// Accent
.link--accent {
	@include link($accent, $accent-light);
}

// Highlight
.highlight--primary {
	color: $primary;
	font-weight: 600;
}

.highlight--accent {
	color: $accent;
	font-weight: 600;
}

.highlight--dark {
	color: $dark;
	font-weight: 600;
}

// Link article
@mixin link-article($color, $color-light, $shade) {
	text-decoration: underline;	
	text-decoration-color: $color-light;
	color: $color;
	font-weight: 600;
	transition: all 0.3s ease-in-out;
	&:hover {
		text-decoration-color: $shade;
		color: $shade;
		transition: color 0.3s ease-in-out, text-decoration-color 0.5s ease-in-out;
	}
}

.link-article--accent {
	@include link-article($accent, $accent-light, $dark)
}

.link-article--primary {
	@include link-article($primary, $primary-light, $light)
}