.snackbar {
	position: fixed;
	bottom: 5vh;
	right: -100%;
	background-color: $dark;
	border: 1.5px solid $primary;
	display: flex;
	justify-content: space-between;
	color: $light;
	opacity: 0;
	box-shadow: $shadow;
	z-index: 999;
}

.snackbar__article {
	display: flex;
	flex-direction: column;
	margin: $xxs $sm;
	overflow: hidden;
	max-width: 25vw;

	.snackbar__date {
		font-size: $text-xs;
	}

	h3 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.snackbar__icon {
	display: flex;
	justify-content: center;
	width: 3vw;
	border-left: 1.5px solid $primary;
	i {
		margin: auto;
		font-size: $text-md;
	}
}

@keyframes snackbarFullHD {
	10%, 90% {
		opacity: 1;
		right: 1vw;
	}
}

@keyframes snackbarMobile {
	10%, 90% {
		opacity: 1;
		right: 1vw;
		left: 1vw;
	}
}

@media screen and (max-width: $fullhd) {
	.snackbar {
		animation: snackbarFullHD 8s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards alternate;
	}
}


@media screen and (max-width: $mobile) {
	.snackbar {
		bottom: 2.5vh;
		animation: snackbarMobile 8s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards alternate;
	
		&__article {
			max-width: 70vw;
		}

		&__icon {
			width: 15vw;
		}
	}
}