// Mixin
@mixin background__title ($color, $font) {
	font-family: $font;
	color: $color;
	position: relative;
	font-size: $text-xxl;
	line-height: 1;
}

@mixin background__title--after ($color) {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 0%;
	height: 100%;
	background: $color;
	animation: reveal-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation-delay: 1s;
}

// Background title

.background__title {
	@include background__title ($primary, $font-title);
	
	&:after {
		@include background__title--after ($primary);
	}
	
	span {
		opacity: 0;
		animation: appear-text 0.0001s linear forwards;
		animation-delay: 1.4s;
	}
}
	
.background__title--sub	{
	position: absolute;
	margin-left: 30vw;
	margin-top: 2vh;
	
	span {
		animation-delay: 2s;	
	}
	
	&:after {
		animation-delay: 1.4s;
	}
}

@keyframes reveal-block {
	0% {
		left: 0;
		width: 0%;
	}
	50% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0%;
	}
}

@keyframes appear-text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: $mobile) {
	h1.index__title {
		font-size: $text-xxl*1.4;
	}
}

// Title

.title {
	text-align: center;
	letter-spacing: 1.5px;
	padding: $xl 0 $lg 0;

	~ .title--list:first-of-type {
		padding: $space-stack-lg;
	}

	+ p, + blockquote {
		margin-top: 0;
	}
}

.title--line {
	margin: $space-stack-lg;
	border-bottom: solid 1px $grey-space;
}

// Title list

.title--list {
	color: $accent;
	padding: $xl 0 $md 0;

	&:before {
		content: "";
		display: block;
		float: left;
		width: $xl;
		margin: 4px 12px 4px 0;
		border-top: $accent $sm solid;
	}

	+ p, + blockquote {
		margin-top: 0;
	}
}

// Media Quieries 

@media screen and (max-width: $mobile) {
	.background__title {
		font-size: 10vw;
	}
}