// Primary
$primary: #ffa000;
$primary-light: rgba($primary, 0.4);
$primary-lighter: rgba($primary, 0.2);

// Accent
$accent: #E11914;
$accent-light: rgba($accent, 0.4);

// Shades
$light: #fefefe;
$dark: #000000;

$grey-text: rgba($dark, 0.7);
$grey-space: rgba($dark, 0.2);

// Box-shadow
$shadow: 0 0 12px 0 $grey-text;

// Sucess
$sucess: #94aa2a;