//Font size
$text-xs: 0.75rem;
$text-sm: 1rem;
$text-md: 1.25rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-xxl: 6.5vw;

//Font type
$font-title: "Sifonn", sans-serif;
$font-text: "Raleway", sans-serif;

//Font face
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,800,800i&display=swap");

@font-face {
	font-family: "Sifonn";
	src: url("../fonts/Sifonn.otf");
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}