// Reset
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:target {
    display: block;    
    position: relative;     
    top: -70px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

h2 {
	font-size: $text-lg;
}

h3 {
	font-size: $text-md;
}

h1, h2, h3 {
	line-height: 1.25;
	font-weight: 800;
}

p {
  line-height: 1.5;
}

blockquote {
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

textarea,
input,
button,
select {
	font-family: $font-text;
	font-size: $text-sm;
}

// Base
body, html {
	height: 100%;
	margin: 0;
	font-family: $font-text;
	font-size: 16px;
	scroll-behavior: smooth;
}