// Sizes
$xxs: 0.5rem;
$xs: 0.75rem;
$sm: 1rem;
$md: 1.5rem;
$lg: 2rem;
$xl: 4rem;
$xxl: 8rem;

// Squish
$space-squish-sm: $xxs $sm;
$space-squish-md: $xs $md;
$space-squish-lg: $sm $lg;
$space-squish-xl: $md $xl;

// Stack
$space-stack-xxs: 0 0 $xxs 0;
$space-stack-xs: 0 0 $xs 0;
$space-stack-sm: 0 0 $sm 0;
$space-stack-md: 0 0 $md 0;
$space-stack-lg: 0 0 $lg 0;
$space-stack-xl: 0 0 $xl 0;
$space-stack-xxl: 0 0 $xxl 0;

// Inline
$space-inline-xxs: 0 $xxs 0 0;
$space-inline-xs: 0 $xs 0 0;
$space-inline-sm: 0 $sm 0 0;
$space-inline-md: 0 $md 0 0;
$space-inline-lg: 0 $lg 0 0;
$space-inline-xl: 0 $xl 0 0;

// Start
$space-start-lg: $lg 0 $md 0;
$space-start-xl: $xl 0 $lg 0;
$space-start-xxl: $xxl 0 $xl 0;

// End
$space-end-lg: $md 0 $lg 0;
$space-end-xl: $lg 0 $xl 0;
$space-end-xxl: $xl 0 $xxl 0;